html {
  background-image: url(background.jpg);
  }

.nav{
	border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
	  font-family: "Garamond";
    font-size: 18px;
    color: white;
}

#message{
  position: absolute;
  height: 1em;
  width: 20em;
  display: block;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
}

#message h1 {
  font-family: "Garamond";
  font-size: 128px;
  color: white;
  }

#message h2{
  font-family: "Garamond";
  color: white;
  text-align: center;
  }

.nav a:hover {
  font-size: 30px;
  }

.bioText {
    color: White;
    font-family: "Garamond";
  }

#intro {
    text-align: center;
  }

#stuyLogo {
    padding-top: 20px;
}

table {
  table-layout: fixed;
  border: 5px solid gray;
  border-spacing: 0px;
  width: 100%;
  text-align: center;
}

td {
  border: 5px solid gray;
  width: 50%;
  text-align: center;
}
