#navbar{
  width: 100%;
  background-color: black;
  opacity: 0.5;
  height: 5%;
  position: fixed;
  margin-top: 0px;
  }
table {
  width: 100%;
}

td{
  text-align: center;
  }
  
body {
  background: #ccc;
  }
  
a {
  text-decoration: none;
  font-family: Times;
  font-size: 15px;
  }
  
 a:hover{
  color: green;
  font-size: 25px;
  }
  
 a:visited{
   color: Yellow;
   }
 
 a:link{
   color: Purple;
   }