#navbar{
  width: 100%;
  background-color: black;
  opacity: 0.7;
  height: 8%;
  position: fixed;
  margin-top: -10px;
  }
table {
  width: 100%;
}

td{
  text-align: center;
  }
  
#navbar a {
  text-decoration: none;
  color: white;
  font-family: Times;
  font-size: 20px;
  text-align: center;
  }
  
 #navbar a:hover{
  color: green;
  font-size: 30px;
  }
  
 #navbar a:visited{
   color: white;
   }
 
 #navbar a:link{
   color: white;
   }
#page1 {
   background-image: url("circuit.jpg");
   height: 100%;
   background-size: cover;
   }
.page{
  display: block;
  width: 100%;
  }
#page1 h2 {
  text-align: center;
  }